In [18]:
import numpy as np
import pandas as pd

In [19]:
df = pd.read_csv('Match.csv')

In [20]:
# Checking here to get the all the matches played by one single team (Team id) in one season 2008 - 2009
print(df.loc[(df['Team_Name_Id'] == 1) & (df['Match_Date'].apply(lambda x: x[-2:]).astype(int) == 8)])

    Match_Id Match_Date  Team_Name_Id  Opponent_Team_Id  Season_Id  \
4     335991  20-Apr-08             1                 8          1
15    336002  29-Apr-08             1                 7          1
28    336015   8-May-08             1                 2          1
35    336022  13-May-08             1                 6          1
43    336030  18-May-08             1                 3          1
45    336032  20-May-08             1                 5          1
52    336040  25-May-08             1                 4          1

      Venue_Name  Toss_Winner_Id Toss_Decision  IS_Superover  IS_Result  \
4   Eden Gardens               8           bat             0          1
15  Eden Gardens               1           bat             0          1
28  Eden Gardens               1           bat             0          1
35  Eden Gardens               1           bat             0          1
43  Eden Gardens               1           bat             0          1
45  Eden Gardens               5         field             0          1
52  Eden Gardens               4           bat             0          1

    Is_DuckWorthLewis    Win_Type  Won_By  Match_Winner_Id  \
4                   0  by wickets     5.0              1.0
15                  0  by wickets     7.0              7.0
28                  0     by runs     5.0              1.0
35                  0     by runs    23.0              1.0
43                  1     by runs     3.0              3.0
45                  0  by wickets     6.0              5.0
52                  0  by wickets     3.0              1.0

    Man_Of_The_Match_Id  First_Umpire_Id  Second_Umpire_Id City_Name  \
4                   4.0              474               486   Kolkata
15                 44.0              474               479   Kolkata
28                  1.0              470               475   Kolkata
35                144.0              470               475   Kolkata
43                122.0              470               486   Kolkata
45                 31.0              480               477   Kolkata
52                105.0              473               514   Kolkata

   Host_Country
4         India
15        India
28        India
35        India
43        India
45        India
52        India

In [23]:
# Creating one total match list of list for all team id respective (pushing all the matchs played between 2008-2016 in each team id list)
totalMatches = [[]*0 for i in range(14)]
for i in range(1,14):
    for j in range(8,17):
        totalMatches[i].append(len(df.loc[(df['Team_Name_Id']==i) & (df['Match_Date'].apply(lambda x: x[-2:]).astype(int)==j)]) + len(df.loc[(df['Opponent_Team_Id']==i) & (df['Match_Date'].apply(lambda x: x[-2:]).astype(int)==j)]))

In [26]:
# Similiarly for total match won by each team
totalMatchesWon = [[]*0 for i in range(14)]
for i in range(1,14):
    for j in range(8,17):
                totalMatchesWon[i].append(len(df.loc[(df['Team_Name_Id'] == i) & (df['Match_Date'].apply(lambda x: x[-2:]).astype(int) == j) & (df['Match_Winner_Id'] == i)]) + len(df.loc[(df['Opponent_Team_Id'] == i) & (df['Match_Date'].apply(lambda x: x[-2:]).astype(int) == j) & (df['Match_Winner_Id'] == i)]))

In [28]:
totalMatchesWon

[[],
 [6, 3, 7, 8, 12, 6, 11, 7, 8],
 [4, 9, 8, 10, 8, 9, 5, 8, 9],
 [9, 8, 9, 11, 10, 12, 10, 10, 0],
 [10, 7, 4, 7, 8, 8, 12, 3, 4],
 [13, 6, 6, 6, 7, 11, 7, 7, 0],
 [7, 10, 7, 4, 11, 3, 2, 5, 7],
 [7, 5, 11, 10, 10, 13, 7, 10, 7],
 [2, 9, 8, 6, 4, 0, 0, 0, 0],
 [0, 0, 0, 6, 0, 0, 0, 0, 0],
 [0, 0, 0, 4, 4, 4, 0, 0, 0],
 [0, 0, 0, 0, 0, 10, 6, 7, 11],
 [0, 0, 0, 0, 0, 0, 0, 0, 5],
 [0, 0, 0, 0, 0, 0, 0, 0, 9]]

In [29]:
# calculating all tie win match by team id respective
tieAndWon = [[]*0 for i in range(14)]
for i in range(1,14):
    tieAndWon[i].append(len(df.loc[(df['Team_Name_Id']==i) & (df['Match_Winner_Id']==i) & (df['IS_Superover']==1)]))

In [30]:
tieAndWon

[[], [0], [1], [0], [0], [0], [0], [0], [0], [0], [0], [1], [0], [0]]

In [31]:
tieAndLose = [[]*0 for i in range(14)]
for i in range(1,14):
    tieAndLose[i].append(len(df.loc[(df['Team_Name_Id'] == i) & (df['Match_Winner_Id'] != i) & (df['IS_Superover'] == 1)]))

In [32]:
tieAndLose

[[], [2], [0], [1], [0], [1], [0], [0], [0], [0], [0], [0], [0], [0]]

In [34]:
# Team which won in final match
first = [[]*0 for i in range(17)]
for i in range(8,17):
    first[i].append(df.loc[(df['Match_Date'].apply(lambda x: x[-2:]).astype(int) == i)][-1:]['Match_Winner_Id'].values[0])

In [36]:
# Team which loss in final match
second = [[]*0 for i in range(17)]
for i in range(8, 17):
    lastMatch = df.loc[(df['Match_Date'].apply(lambda x: x[-2:]).astype(int) == i)][-1:]
    if lastMatch['Match_Winner_Id'].values[0] == lastMatch['Team_Name_Id'].values[0]:
        secondTeam = lastMatch['Opponent_Team_Id'].values[0]
    else:
        secondTeam = lastMatch['Team_Name_Id'].values[0]
    second[i].append(secondTeam)

In [39]:
matchesPlace = [[]*0 for i in range(17)]
for i in range(8,17):
    data = df.loc[df['Match_Date'].apply(lambda x: x[-2:]).astype(int) == i]
    m = pd.DataFrame(data=data, columns=['Match_Date','City_Name', 'Host_Country','Match_Date', 'lat', 'lng', 'Venue_Name'])
    w = "0"+str(i) if i < 10 else str(i)
    m.to_csv('matches-20'+w+'.csv', header=True, index=False)

In [40]:
for i in range(8,17):
    data = df.loc[df['Match_Date'].apply(lambda x: x[-2:]).astype(int) == i]
    m = pd.DataFrame(data=data, columns=['Match_Date','Team_Name_Id', 'Opponent_Team_Id','Match_Winner_Id', 'Win_Type', 'Won_By'])
    changeColumn = ['Team_Name_Id', 'Opponent_Team_Id', 'Match_Winner_Id']
    for j in range(len(changeColumn)):
        m[changeColumn[j]] = m[changeColumn[j]].map({
            1: 'Kolkata Knight Riders',
            2: 'Royal Challengers Bangalore',
            3: 'Chennai Super Kings',
            4: 'Kings XI Punjab',
            5: 'Rajasthan Royals',
            6: 'Delhi Daredevils',
            7: 'Mumbai Indians',
            9: 'Deccan Chargers',
            8: 'Kochi Tuskers Kerala',
            10: 'Pune Warriors',
            11: 'Sunrisers Hyderabad',
            12: 'Rising Pune Supergiants',
            13: 'Gujarat Lions'
        })
    w = "0"+str(i) if i < 10 else str(i)
    m.to_csv('matches-20'+w+'-1'+'.csv', header=True, index=False)